/* Woocommerce */
#woocommerce #content {
	padding:20px 15px;
}
#woocommerce .delve_woo_content {
	padding-top:0;	
}
.woocommerce-info {
	margin-bottom: 15px;
	line-height:22px;
	border:1px solid;
	border-color:#ebebeb;
	padding:20px 15px;
	border-radius:4px;
	color:#34495e;
}
.woocommerce-info .login {
	padding:0 15px;
}
.woocommerce-message,
.woocommerce-success-message {
	margin-bottom: 40px;
	padding: 20px;
	border: 1px solid #ebebeb;
	border-radius:4px;
	color: #7bc200;
	text-align: left;
	background:#f2ffe0;
}
.woocommerce-message:before {
	font-family: 'fontAwesome';
	content: "\f046";
	margin-right: 5px;
}
.woocommerce-message .wc-forward {
	float: right;
}
.woocommerce-message .wc-forward:before {
	font-family: 'fontAwesome';
	content: '\f07a';
	margin-right: 6px;
	color: inherit;
}
.woocommerce-success-message .button {
	float: right;
}
.woocommerce-success-message .msg:before {
	font-family: fontAwesome;
	content: "\f046";
	margin-right: 5px;
}
.woocommerce-success-message .button:before {
	font-family: fontAwesome;
	content: '\f07a';
	margin-right: 6px;
}
.empty-cart-message .msg:before {
	content: '';
}
.woocommerce-error {
	list-style: none;
	padding: 0;
}
.woocommerce-error li {
	margin-bottom: 15px;
	background-color: #ffe9e9;
	border: 1px solid #E7A9A9;
	color: #D04544;
	padding: 8px;
	position: relative;
	text-align: center;
}
.woocommerce .single_add_to_cart_button,
.woocommerce form.checkout #place_order,
.woocommerce .login .button,
.woocommerce .profile-save {
	min-height: 32px;
	text-transform: uppercase;
	text-align: center;
	padding: 0 20px;
	margin: 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	background:#a1b1bc;
	color:#FFF;
}
.woocommerce .login .button {
	margin-bottom:15px;
	min-width:135px;
}
.woocommerce .button {
	cursor: pointer;
	text-decoration:none;
}
.woocommerce .single_add_to_cart_button {
	margin-top: -1px;
	color:#FFF;
	letter-spacing:1px;
}
.woocommerce .shipping-calculator-form .button {
	float: right;
}
#customer_login .login .form-row input[type="text"],
#customer_login .login .form-row input[type="password"] {
	width:100%;
}
.woocommerce .login .form-row label {
	display:block;
	color:#34495e;
}
.woocommerce .login .form-row label.inline,
.woocommerce .login p {
	display:inline;
}
.woocommerce .login .form-row label.inline,
.woocommerce .login p.lost_password {
	margin-left:15px;
}
.woocommerce .login p.form-row-wide,
.woocommerce .login p.form-row-wide {
	display:block;
}
.woocommerce .login p.form-row,
.woocommerce .login p.form-row {
	margin-bottom:15px;
}
/*.woocommerce .login .form-row input {
	height:auto;
}*/
.woocommerce .login .form-row input[type="text"],
.woocommerce .login .form-row input[type="password"] {
	width:40%;
}
.woocommerce .checkout_coupon {
	margin-bottom: 30px;
}
.woocommerce .checkout_coupon .promo-code-heading {
	margin: 0;
	padding: 0;
	border: none;
}
.woocommerce .checkout_coupon .coupon-input {
	width: 240px;
}
.woocommerce .checkout_coupon .coupon-input .input-text {
	padding: 8px 15px;
}
.woocommerce .checkout_coupon .coupon-button {
	margin-right: 0;
}
.create-account #createaccount {
	height:auto;
}
.create-account label {
	display:inline-block;
}
.product_meta {
	border-top:1px solid;
	border-color:#e6e6e6;
	padding-top: 10px;
	clear:both;
}
#shipping_method {
	margin:0;
	padding: 0;
	list-style-type: none;
}
.calculated_shipping #calc_shipping_country,
.calculated_shipping #calc_shipping_state,
.calculated_shipping .input-text {
	width:100%;
	display:block;
	clear:both;
	height:35px;
}
#shipping_method input[type=radio] {
	margin: 3px 3px 0px 5px;
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
	-ms-appearance: checkbox;
	-o-appearance: checkbox;
}
#shipping_method label {
	font-weight:normal;
}
.cart_totals,
.shipping_calculator,
.coupon,
.cross-sells {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #ddd;
	overflow: hidden;
	padding: 30px;
}
.checkout_coupon {
	border-bottom:1px solid;
	border-bottom-color:#ecf0f1;
	padding-top: 10px;
	padding-bottom:25px;
	padding-left:15px;
}
.woocommerce .checkout h3,
.cart_totals h2,
.shipping_calculator h2,
.coupon h2,
#customer_login h2,
.cross-sells h2 {
	margin-top: 0;
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
	padding-bottom: 10px;
}
.woocommerce-ordering {
	padding-top: 10px;
	padding-bottom:25px;
}
.woocommerce-ordering select {
	height:35px;
	width:100%;
	max-width:350px;
	line-height:30px;
}
.catalog-ordering > ul {
	float: left;
	margin-bottom: 42px;
	z-index:999;
}
.catalog-ordering a {
	color:#2c3e50;
	display:block;
}
.order-dropdown {
	float: left;
	width: 185px;
	margin: 0;
	margin-bottom:20px;
	padding: 0;
	list-style: none;
	margin-right: 10px;
	position: relative;
	z-index:9999;
}
.order-dropdown ul,
.catalog-ordering .order  {
	margin: 0;
	padding: 0;
	list-style: none;
	background:#FFF;
}
.order-dropdown .current-li {
	background: #fbfaf9;
	border: 1px solid #dbdbdb;
	display: block;
	height: 35px;
	line-height: 35px;
	text-indent: 13px;
	font-size: 13px;
}
.current-li-content {
	display: block;
	height: 30px;
	overflow: hidden;
	width: 150px;
}
.order-dropdown > li {
	position: relative;
	z-index: 101;
}
.order-dropdown ul {
	display: none;
	background:#FFF;
}
.catalog-ordering li {
	background:#FFF;
	z-index:999;
}
.order-dropdown > li:hover > ul {
	display: block;
	position: absolute;
}
.order-dropdown ul li a {
	width: 184px;
	border: 1px solid #e6e6e6;
	border-top: 0;
	display: block;
	line-height: 35px;
	text-indent: 13px;
	font-size: 13px;
	padding: 0;
	padding-right: 13px;
	background:#FFF;
}
.order-dropdown ul li a strong {
	font-weight: normal;
}
.catalog-ordering .order {
	margin-right: 10px;
	float: left;
}
.catalog-ordering .order li a {
	border: 1px solid #e6e6e6;
	display: table;
	height: 33px;
	line-height: 33px;
	padding: 0 13px;
	font-size: 13px;
	padding: 0 10px;
}
.order-dropdown > li:after {
	display: block;
	font-family: "fontAwesome";
	content: "\f107";
	font-size: 14px;
	z-index: 99;
	position: absolute;
	top: 0;
	right: 0;
	height: 35px;
	line-height: 35px;
	width: 35px;
	text-align: center;
	border-left: 1px solid #e6e6e6;
	color: #2c3e50;
}
.orderby-order-container {
	float: left;
}
.products {
	list-style: none;
	margin: 0;
	padding: 0;
 	width: 100%;
}
.products li {
	border:1px solid;
	border-color:#e6e6e6;
	position:relative;
	border-radius:7px;
	min-width:220px;
	background-color:#FFF;
}
.product-columns-1 li {
	float: left;
	width: 100%;
	margin-bottom: 11px;
}
.product-columns-1 li:nth-child(2n) {
	margin-right: 0;
}
.product-columns-1 li:nth-child(2n+1) {
	clear: both;
}
.product-columns-2 li {
	float: left;
	width: 49%;
	margin-right: 1%;
	margin-bottom: 11px;
}
.product-columns-2 li:nth-child(2n) {
	margin-right: 0;
}
.product-columns-2 li:nth-child(2n+1) {
	clear: both;
}
.product-columns-3 li {
	float: left;
	width: 32.33%;
	margin-right: 1%;
	margin-bottom: 11px;
}
.product-columns-3 li:nth-child(3n) {
	margin-right: 0;
}
.product-columns-3 li:nth-child(3n+1) {
	clear: both;
}
.product-columns-4 li {
	float: left;
	width: 23%;
	margin-right: 2%;
	margin-bottom: 30px;
}
.product-columns-4 li:nth-child(4n) {
	margin-right: 0;
}
.product-columns-4 li:nth-child(4n+1) {
	clear: both;
}
.product-images {
	display: block;
	text-align: center;
	position: relative;
}
.delve-poduct_img img {
	width:100%;
	height:auto;
}
.onsale {
	-webkit-backface-visibility: hidden;
	display: block;
	z-index: 111;
	color: #fff;
	border-radius: 50%;
	line-height: 39px;
	text-align: center;
	position: absolute;
	padding: 0px 5px;
}
.product-details {
	padding: 5px 15px 0px 15px;
}
.product-details,
.product-buttons,
h3.product-title a,
.product-buttons a,
.cart-buttons-row .button,
.shipping_calculator .button,
.checkout_coupon .button,
.login .button,
.woocommerce form.checkout #place_order,
#reviews input#submit,
.woocommerce .profile-save,
.price_slider_amount .button,
.price del .amount,
.delve-button,
.cart_totals .checkout-button,
.shipping-calculator-form .button {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
h3.product-title a {
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 5px;
	font-weight: normal;
	line-height:24px;
	color:#2c3e50;
}
.products li .price .amount{
	font-size:14px;	
}
.products li.product:hover .product-buttons a {
	background:transparent;
}
.products li.product:hover h3.product-title a {
	color:#FFF;
}
.products li.product:hover .product-details,
.products li.product:hover .product-buttons {
	border-color:#3f4f5f;
	background:#2c3e50;
	color:#FFF;
}
.products li.product:hover .price del .amount,
.products li.product:hover .price ins .amount,
.products li.product:hover .price .amount{
	color:#FFF;
}
.product-details,
.price del .amount {
	color:#2c3e50;
}
.product .product-buttons {
	padding: 10px 15px;
	border-top: 1px solid;
	border-color:#e6e6e6;
	border-bottom-right-radius:7px;
	border-bottom-left-radius:7px;
}
.star-rating {
	overflow: hidden;
	position: relative;
	height: 1em;
	line-height: 1em;
	font-size: 1em;
	width: 5.1em;
	font-family: fontAwesome;
}
.star-rating:before {
	content: '\f006\f006\f006\f006\f006';
	float: left;
	top: 0;
	left: 0;
	position: absolute;
	letter-spacing: 0.1em;
}
.star-rating span {
	overflow: hidden;
	float: left;
	top: 0;
	left: 0;
	position: absolute;
	padding-top: 1.5em;
}
.star-rating span:before {
	content: '\f005\f005\f005\f005\f005';
	top: 0;
	position: absolute;
	left: 0;
	letter-spacing: 0.1em;
}
.product-details .star-rating {
	float: right;
}
.price del .amount,
.product-details .price .from {
	font-size: 12px;
	margin-right: 5px;
}
.price ins {
	text-decoration: none;
}
.price ins .amount {
	font-size: 14px;
	text-decoration: none;
}
.price > .amount {
	font-size: 18px;
}
.product-details-container {
	padding-bottom: 15px;
	min-height: 50px;
}
.product-buttons a {
	display: block;
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px 10px 8px 26px;
	width: auto;
	max-width: 60%;
	line-height: inherit;
	font-size: 13px;
	line-height:13px;
	color:#FFF !important;
	border:1px solid;
	border-radius:4px;
	background:#a1b1bc;
}
.product-buttons a:first-child {
	float: left;
}
.product-buttons a:last-child {
	float: right;
}
.product-buttons a:before {
	position: absolute;
	margin-left: -16px;
	font-family: fontAwesome;
	color: inherit;
}
.product-buttons-container {
	display:inline-block;
	width:100%;
}
.product-buttons .add_to_cart_button:before,
.product-buttons .product_type_simple:before {
	content: '\f07a';
}
.product-buttons .show_details_button:before {
	content: '\f03a';
}
.product-buttons .product_type_variable:before,
.product-buttons .product_type_grouped:before {
	content: '\f013';
}
.product-buttons .align-right {
	float: right;
	width: 41%;
	position: relative;
	line-height: normal;
	display: inline-block;
	line-height: 40px;
}
.product-buttons .added_to_cart {
	display: none;
}
.has-sidebar .product-columns-4 .product-buttons .button,
.has-sidebar .product-columns-4 .product-buttons .show_details_button {
	width: 36%;
}
.has-sidebar .product-columns-4 .product-buttons .show_details_button {
	width: auto;
	max-width: 36%;
}
.product-buttons .button {
	text-align: left;
}
.product {
	position: relative;
}
.product .images {
	float: left;
	width:40%;
	margin-right: 35px;
	max-width:500px;
}
.product .images .delve-sp-thumbnails {
	width:100%;
}
.images .delve-sp-thumbnails li {
	width:25%;
}
.images .delve-sp-thumbnails li img {
	width:100%;
	height:auto;
}
.woocommerce-tabs {
	clear: both;
}
#main .product .product_title {
	margin: 0;
}
.product .onsale {
	top: 20px;
	left: 15px;
	margin:0 15px;
}
.product .price {
	margin: 0;
	margin-top: 5px;
}
.product .product-border {
	height: 4px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	margin-top: 10px;
	margin-bottom: 10px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.quantity {
	border: 1px solid #dbdbdb;
	overflow: hidden;
	margin-left:5px;
}
.quantity .minus,
.quantity .plus,
.quantity .qty {
	float: left;
	border: 0;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height:31px;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	color: #333;
}
.quantity .qty {
	background: transparent;
	width: 43px;
}
.quantity .minus,
.quantity .plus {
	background: #fbfaf9;
	width: 26px;
	cursor: pointer;
}
.quantity .minus,
.quantity .qty {
	border-right: 1px solid #dadada;
}
.quantity .qty::-webkit-inner-spin-button,
.quantity .qty::-webkit-outer-spin-button {
	/*-webkit-appearance: none;*/
	margin: 0;
}
.input-text,
.quantity .minus,
.quantity .plus {
	-webkit-appearance: none;
	border-radius: 0;
}
form.cart {
	margin-bottom: 40px;
	margin-top: 40px;
}
.summary .cart .gform_wrapper {
	overflow: visible;
}
.summary .cart .quantity {
	float: left;
	margin-right: 10px !important;
}
.group_table {
	margin-bottom: 10px;
}
.group_table tr {
	vertical-align: top;
	height: 41px;
}
.group_table td {
	vertical-align: middle;
	height: 31px;
}
.group_table td.label {
	padding: 0 10px;
}
.product_meta > span {
	display: block;
}
.woocommerce-tabs {
	overflow: hidden;
	padding-top: 50px;
	clear:both;
}
.woocommerce-tabs > .tabs {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 220px;
	float: left;
}
.woocommerce-tabs .tabs li a {
	display: block;
	padding: 10px 0px;
	border-bottom: 1px solid #e7e6e6;
	text-decoration:none;
}
.woocommerce-tabs .tabs li a .arrow,
.woocommerce-tabs .tabs li a:hover .arrow {
	display: none;
}
.woocommerce-tabs .tabs li.active a .arrow,
.woocommerce-tabs .tabs li.active a:hover .arrow {
	display: inline-block;
}
.woocommerce-tabs .panel {
	border: 1px solid #e7e6e6;
	margin-left: 240px;
	padding: 20px;
}
.woocommerce #review_form input[type=text] {
	width: 100%;
}
#reviews .overall-rating {
	float: right;
}
#reviews .review-title {
	margin: 0;
}
#reviews .review-main-title {
	margin-bottom: 25px;
}
#reviews .commentlist {
	margin-bottom: 0;
	list-style-type:none;
	padding:0;
}
#reviews li {
	margin-bottom: 15px;
}
#reviews li:last-child {
	margin-bottom: 0;
}
#reviews li .comment-text {
	padding: 15px;
	border: 1px solid #f2efef;
	margin-left: 70px;
}
#reviews li .avatar {
	float: left;
	max-width: 60px;
}
#reviews li .comment-text .meta {
	display: inline-block;
	margin-bottom: 10px;
}
#reviews li .comment-text .star-rating {
	float: right;
	margin-left: 5px;
}
#reviews li .comment-text .description {
	clear: right;
}
#reviews .add_review {
	margin: 0;
	margin-top: 15px;
	float: right;
}
#review_form_wrapper {
	margin-top: 50px;
}
#reviews #reply-title {
	font-size: 15px;
	margin: 0;
	margin-bottom: 25px;
}
.comment-respond .comment-reply-title {
	margin-top: 0;
	padding-top: 1em;
}
.comment-form-rating label {
	display: none;
}
#reviews .comment-form-comment label {
	display: block;
	margin-bottom: 4px;
}
.comment-form-comment textarea {
	width:100%;
}
p.stars {
	position: relative;
	line-height: 1em;
	font-size: 1em;
}
p.stars:after {
	content: "";
	display: block;
	clear: both;
}
p.stars a {
	width: 19%;
	display: block;
	position: relative;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: .5em .5em .5em .75em;
	background: rgba(0, 0, 0, 0.025);
	margin-right: 1%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-weight: bold;
	min-width:70px;
}
p.stars a:hover,
p.stars a.active {
	background: rgba(0, 0, 0, 0.075);
}
p.stars a.star-1:after,
p.stars a.star-2:after,
p.stars a.star-3:after,
p.stars a.star-4:after,
p.stars a.star-5:after {
	font-family: fontAwesome;
	content: '\f005';
	position: absolute;
	top: .85em;
	width: 5.3em;
	right: 1em;
	font-size: .5em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	color: #999;
	text-align: right;
	font-weight: normal;
}
p.stars a.star-1:hover,
p.stars a.star-2:hover,
p.stars a.star-3:hover,
p.stars a.star-4:hover,
p.stars a.star-5:hover {
	text-decoration: none;
}
p.stars a.star-1:after {
	content: '\f005';
}
p.stars a.star-2:after {
	content: '\f005\f005';
}
p.stars a.star-3:after {
	content: '\f005\f005\f005';
}
p.stars a.star-4:after {
	content: '\f005\f005\f005\f005';
}
p.stars a.star-5:after {
  content: '\f005\f005\f005\f005\f005';
}
.related.products,
.upsells.products {
	margin-top: 50px;
}
.shop_attributes {
	width: 100%;
}
.shop_attributes tr {
	border-bottom: 1px solid #e0e0e0;
}
.shop_attributes tr:last-child {
	border-bottom: 0;
}
.shop_attributes tr th {
	text-align: left;
	width: 30%;
	font-weight: bold;
	padding: 5px 0px;
}
.shop_attributes tr td {
	text-align: left;
	width: 70%;
	padding: 5px 0px;
}
.shop_attributes p {
	margin: 0;
}
.product .summary.entry-summary {
	float:left;
	width:55%;
	min-width:255px;
}
.product .summary.entry-summary > div:nth-child(2) {
	display: inline-block;
}
.product .images #singleProductSlider,
.product .images #singleProductCarousel {
	margin-bottom: 7px;
	display:inline-block;
	padding:0 15px;
	width:100%;
}
.product .images #singleProductCarousel li a {
	opacity: 0.5;
}
.product .images #singleProductCarousel li a.selected {
	opacity: 1;
}
#singleProductSlider .carousel-control {
	height: 35px;
	width: 35px;
	line-height: 31px;
	background: rgba(0,0,0,0.8);
	top: 50%;
}
#singleProductSlider .carousel-inner img {
	width:100%;
}
button.single_add_to_cart_button {
	min-width:140px;
	color:#FFF;
	height:35px;
}
button.single_add_to_cart_button span {
	height:auto !important;
	font-size:13px;
}
/***** Menu Cart Buttons *******/
/*** top bar cart button ***/
.topbar-cart-menu {
	margin:0;
	display:inline-block;
	list-style-type:none;
	padding:0;
}
.topbar-cart-menu ul {
	margin:0;
}
/*** menu cart button ***/
.delve-cart-btn .dropdown-menu {
	left:-225%;
}
#menu-secondary-menu .delve-cart-btn ul {
	margin-top:0;
}
.menu-secondary-menu-container ul.menu li.cart-content a {
	color:#a1b1bc;
}
.menu-secondary-menu-container ul.menu .cart-checkout a:hover {
	text-decoration:none;
}
.delve-cart-btn ul li {
	display:block !important;
	width:100%;
}
.delve-cart-btn .cart-btn {
	display:block;
}
.delve-cart-btn .cart-btn a {
	padding:0 7px !important;
	display:block;
}
.delve-cart-btn .cart-content a {
	display: block;
	line-height: normal;
	padding: 12px 10px !important;
	overflow: hidden;
	border-bottom:1px solid;
	border-color: #e0dede !important;
	color:#a1b1bc;
}
.delve-cart-btn .cart-content a img {
	float: left;
	display: inline-block;
	max-width: 36px;
	margin-right: 15px;
	height:auto;
}
.delve-cart-btn .cart-content a .cart-desc {
	display: inline-block;
	font-size: 12px;
	float: left;
	max-width:85px;
}
.delve-cart-btn .cart-contents a span {
	line-height: normal;
}
.delve-cart-btn .cart-content a .cart-title,
.delve-cart-btn .cart-content a .quantity {
	display: block;
	font-size: 12px;
}
.delve-cart-btn .cart-content a .cart-title {
	margin-bottom: 5px;
}
.cart-checkout {
	overflow: hidden;
	padding-left:15px;
	padding-right:10px;
}
.cart-checkout a {
	display: inline-block;
	float: left;
	padding: 14px 0 !important;
	width: 40%;
	line-height: 15px;
	border: none;
}
.cart-checkout a:before {
	position: absolute;
	margin-left: -15px;
	line-height: inherit;
	font-family: fontAwesome;
}
.cart-checkout .cart-link a:before {
	content: '\f07a';
}
.cart-checkout .checkout-link a:before {
	content: '\f046';
}
.checkout-link {
	float: right;
}
.menu-menu .cart {
	margin-left: 0;
}
.delve-cart-btn .cart-contents .cart-content:last-child a {
	border-bottom: 0;
}
.delve-cart-btn .cart-checkout {
	overflow: hidden;
}
.delve-cart-btn .cart-checkout a {
	font-size: 12px;
}
.delve-cart-btn .cart-checkout .cart-link a:before {
	font-family: 'fontAwesome';
	content: '\f07a';
}
.delve-cart-btn .cart-checkout .checkout-link a:before {
	font-family: 'fontAwesome';
	content: '\f046';
}
.delve-cart-btn .my-cart-link:hover {
	border-top-color: transparent;
}
.delve-cart-btn .my-cart-link:after {
	font-family: 'fontAwesome';
	content: '\f07a';
	padding: 5px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 1px solid;
}
.cart-content a img {
	border: 1px solid;
}
.cart-checkout .checkout-link,
.cart-checkout .cart-link {
	width: auto;
	max-width: 49%;
	vertical-align: top;
}
.cart-checkout .cart-link {
	float: left;
}
.cart-checkout .cart-link a,
.cart-checkout .checkout-link a {
	position: relative;
	padding-left: 0.5em !important;
	width: 100%;
	display: block;
	float: left;
	text-align: center;
	color:#2c3e50;
	border:none !important;
}
.cart-checkout .checkout-link a {
	float: right;
}
.single_variation_wrap {
	margin: 10px 0px;
}
.single_variation_wrap .variations_button .quantity {
	float: left;
}
.single_variation_wrap .variations_button .button {
	float: left;
	margin-left: 10px;
}
table.variations {
	width: 100%;
}
table.variations td {
	padding-bottom: 5px;
}
.variations .label {
	padding-right: 10px;
}
.variations .value {
	min-width: 150px;
}
.single_variation_price_reset .single_variation_wrap {
	float: left;
	margin-top: 5px;
}
.product .single_variation_price_reset .single_variation_wrap .price {
	margin-top: 0;
}
.single_variation_price_reset .reset_variations {
	float: right;
	margin-top: 5px;
}
.widget_heading_text {
	display:inline-block;
}
.product_list_widget {
	display:block;
}
.product_list_widget li {
	display: inline-block;
	width:100%;
	padding:10px 0;
}
.product_list_widget .wp-post-image {
	max-width: 50px;
	float: right;
	margin-left: 10px;
	height:auto;
}
.widget_recent_reviews li,
.widget_top_rated_products li {
	line-height:26px;
	font-size:12px;
}
.widget_recent_reviews li a,
.widget_top_rated_products li a {
	font-size:15px;
	display:block;
}
.widget_product_search #s {
	width:100%;
	max-width:350px;
}
#sidebar .product_list_widget li,
#sidebar .widget_layered_nav li {
	padding: 15px 0px;
	border-bottom: 1px solid;
	overflow: hidden;
}
#sidebar .product_list_widget li a,
#sidebar .widget_layered_nav li a {
	border-bottom: 0;
	padding: 0;
}
#sidebar .product_list_widget li .amount,
#sidebar .product_list_widget li .quantity {
	display: block;
	font-size: 15px;
	font-weight: bold;
	padding-top: 3px;
}
#sidebar .product_list_widget li .quantity {
	border: 0;
}
#sidebar .product_list_widget li dl {
	margin: 0;
}
#sidebar .product_list_widget li dt,
#sidebar .product_list_widget li dd {
	margin: 0;
	display: inline;
}
#sidebar .product_list_widget li dt {
	font-weight: bold;
	margin-right: 5px;
}
#sidebar .product_list_widget li .star-rating {
	margin: 5px 0px;
}
.widget_product_categories select {
	width:100%;
	height:35px;
	padding:5px;
	border-radius:4px;
	border-color:#a1b1bc;
}
.widget_shopping_cart_content .total .amount {
	display: inline-block;
	margin-left: 25px;
}
.widget_shopping_cart_content .buttons {
	background: #f6f6f6;
	overflow: hidden;
}
.widget_shopping_cart_content .buttons a {
	display: inline-block;
	width: 50%;
	float: left;
	text-indent: 10px;
	margin: 0;
	height: 35px;
	line-height: 35px;
}
.widget_shopping_cart_content .buttons > a:before {
	font-family: 'fontAwesome';
	content: '\f07a';
	margin-right: 10px;
}
.widget_shopping_cart_content .buttons a.checkout:before {
	font-family: 'fontAwesome';
	content: '\f046';
	margin-right: 10px;
}
.widget_layered_nav li {
	overflow: hidden;
	padding: 10px 0px;
}
.widget_layered_nav li a {
	float: left;
}
.widget_layered_nav li .count {
	float: right;
	font-size: 12px;
}
.price_slider_wrapper {
	border-bottom: 1px solid;
	padding-bottom: 18px;
}
.price_slider_amount {
	text-align: right;
	margin-top: 15px;
}
.price_slider_amount .button {
	float: left;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	padding: 0 6px;
}
.price_label {
	line-height: 25px;
}
.price_label .from {
	margin-left: 3px;
}
.price_label .from,
.price_label .to {
	font-size: 14px;
	font-weight: bold;
}
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 12px;
	height: 12px;
	top: -0.3em;
	outline: none;
}
.ui-slider .ui-slider-handle:before {
	border: 1px solid #333;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	width: 12px;
	height: 12px;
	outline: none;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.ui-slider .ui-slider-handle:after {
	border: 1px solid #333;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	width: 2px;
	height: 2px;
	outline: none;
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 3;
}
.ui-slider .ui-slider-handle:last-child {
	margin-left: -1em;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}
.price_slider_wrapper .ui-widget-content {
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	border:2px solid;
	border-color:#a1b1bc;
	background:#a1b1bc;
}
.ui-slider-horizontal {
	height: .5em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: -1px;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: -1px;
}
.product_list_widget .quantity {
	padding:10px;
}
.tagcloud a {
	font-size: 13px;
	display: inline-block;
	padding: 0 10px;
	min-height: 28px;
	line-height: 28px;
	border: 1px solid;
	margin: 2px 0;
}
.tagcloud a:hover {
	color: #fff;
}
.simple-products-slider {
	overflow: hidden;
}
#main .simple-products-slider .image .image-extras .image-extras-content h3 {
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 13px;
}
.simple-products-slider .cats {
	font-size: 11px;
	margin-bottom: 5px;
	line-height: normal;
}
.simple-products-slider .price {
	display: inline-block;
	margin-bottom: 5px;
}
.simple-products-slider .price .amount {
	font-size: 18px;
}
.simple-products-slider .product-buttons {
	padding: 0;
	height: auto;
}
.simple-products-slider .product-buttons a {
	display: inline;
	height: auto;
	line-height: normal;
	float: none;
}
.simple-products-slider .product-buttons a:before {
	margin-right: 0;
}
.simple-products-slider .product-buttons .show_details_button {
	margin-left: 5px;
}
.product-category h3 {
	padding: 0 10px;
}
#customer_login h2 {
	margin-bottom: 15px;
}
#customer_login .sep-double {
	margin-bottom: 40px;
}
#customer_login_box {
	border: 1px solid;
	padding: 30px;
	-webkit-box-sizing: border-box;
	/* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	/* Firefox, other Gecko */
	box-sizing: border-box;
	/* Opera/IE 8+ */
}
#customer_login .one_half.last {
	padding-top: 29px;
}
#customer_login_box .remember-box {
	padding-left: 20px;
	padding-right: 20px;
}
.woocommerce .delve_myaccount_user {
	display:table;
	width:100%;
	margin-bottom:25px;
	border:1px solid #ebebeb;
	border-radius:4px;
}
.woocommerce .myaccount_user_container {
	display: table-row;
	width:100%;
	background:#eafaff;
}
.myaccount_user_container span {
	display: table-cell;
	padding: 20px 15px;
}
.myaccount_user_container span.msg {
	padding-left: 20px;
	padding-right: 20px;
}
.myaccount_user_container span:last-child {
	border-right: 0;
	padding-left: 20px;
	text-align:right;
}
.myaccount_address p label {
	display:block;
	color: #2c3e50;
}
.myaccount_address select,
.myaccount_address .input-text {
	width:100%;
	height:35px;
	line-height:35px;
}
.myaccount_address p#billing_last_name_field .input-text,
.myaccount_address p#shipping_last_name_field .input-text {
	width:100% !important;
}
.myaccount_address #billing_first_name_field,
.myaccount_address #billing_last_name_field,
.myaccount_address #shipping_first_name_field,
.myaccount_address #shipping_last_name_field {
	width:50%;
}
.myaccount_user_container .username {
	font-size: 18px;
	font-weight: normal;
}
.myaccount_user_container .username:before {
	font-family: 'fontAwesome';
	content: '\f046';
	margin-right: 5px;
}
.myaccount_user_container .view-cart a {
	text-transform: uppercase;
}
.myaccount_user_container .view-cart a:before {
	font-family: 'fontAwesome';
	content: '\f07a';
	margin-right: 10px;
	color: inherit;
}
.myaccount_user {
  display: none;
}
.delve-myaccount-data .addresses .address {
	float:left;
	width:48%;
	min-width:255px;
}
.address .title h3,
.address .title .edit {
	float:left;
}
.address .title .edit {
	margin-top:25px;
	margin-left:15px;
}
.address address {
	clear:both;
}
#ship-to-different-address label {
	display:inline-block;
	margin:0;
	font-weight:normal;
}
#ship-to-different-address-checkbox {
	display:inline-block;
	margin-top:-3px;
	margin-left:15px;
	position:absolute;
	height:35px;
}
.woocommerce .cart-empty {
	float: left;
	font-size: 18px;
	border: 1px solid #ebebeb;
	border-right:none;
	width: 50%;
	padding:20px 15px;
	line-height: 22px;
	color:#7bc200;
	background:#f2ffe0;
	border-bottom-left-radius:4px;
	border-top-left-radius:4px;
}
.woocommerce .return-to-shop {
	float: left;
	border: 1px solid #ebebeb;
	border-left:none;
	width: 50%;
	text-align: right;
	line-height: 22px;
	padding:20px 15px;
	background:#f2ffe0;
	border-bottom-right-radius:4px;
	border-top-right-radius:4px;
}
.return-to-shop .wc-backward:before {
	content: '\f07a';
	font-family: fontAwesome;
	margin-right: 10px;
	color: inherit;
}
.woocommerce-side-nav {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 220px;
}
.woocommerce-side-nav li a {
	display: block;
	height: 36px;
	line-height: 36px;
	border-bottom: 1px solid #c6c6c6;
	text-decoration:none;
}
.woocommerce-side-nav li.active a:after {
	position: absolute;
	font-size: 14px;
	font-family: fontAwesome;
	content: '\f105';
	margin-left: 5px;
}
.woocommerce-full-box {
	border: 1px solid #ddd;
	padding: 30px;
	max-width:1280px;
	margin:0 auto;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	/* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	/* Firefox, other Gecko */
	box-sizing: border-box;
	/* Opera/IE 8+ */
}
.woocommerce-small-box {
	border: 1px solid;
	padding: 30px;
	max-width:960px;
	margin:0 auto;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	/* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	/* Firefox, other Gecko */
	box-sizing: border-box;
	/* Opera/IE 8+ */
}
.available-downloads {
	margin-bottom: 50px;
}
.my_account_orders {
	width: 100%;
	text-align: left;
	margin: 0;
}
.my_account_orders tbody tr:last-child {
	border-bottom: 0;
}
.my_account_orders thead tr th {
	padding-bottom: 12px;
	font-weight: bold;
	font-size: 13px;
}
.my_account_orders thead tr th {
	height: auto;
	line-height: normal;
}
.my_account_orders .order-number a {
	font-size: 18px;
}
.my_account_orders .order-actions a {
	display: block;
}
.my_account_orders .order-actions a:after {
	position: absolute;
	font-size: 14px;
	font-family: fontAwesome;
	content: '\f105';
	margin-left: 10px;
}
#main .page-info {
	margin-bottom: 10px;
}
.woocommerce .addresses {
	margin-top: 40px;
	overflow: hidden;
}
.woocommerce .address h4 {
	font-weight: bold;
	margin-top: 0;
	border-bottom: 1px solid;
	padding-bottom: 5px;
}
.woocommerce address {
	font-style: normal;
	margin-bottom: 20px;
}
.woocommerce .address .edit:after {
	position: absolute;
	font-size: 14px;
	font-family: fontAwesome;
	content: '\f105';
	margin-left: 10px;
}
.edit-account-form label {
	display:block;
	color:#2c3e50;
}
.edit-account-form input:not([type='submit']) {
	width:100%;
}
.checkout .input-text,
.woocommerce-checkout .form-row .chosen-container {
	display:block;
	width:85% !important;
}
.checkout textarea.input-text {
	height:120px;
	border-radius:4px;
}
.shop_table {
	width: 100%;
	text-align: left;
	margin: 0;
}
.shop_table td {
	padding: 10px 0;
}
.shop_table thead tr th {
	padding: 0 15px;
	font-weight: bold;
	height: auto;
	line-height: 70px;
	color:#2c3e50;
}
.shop_table .product-total {
	text-align:right;
}
.shop_table tfoot tr,
.shop_table tfoot tr th {
	text-align:right;
	color:#2c3e50;
}
.shop_table .product-thumbnail {
	margin-right: 25px;
	float: left;
	background:#f3f3f3;
}
.shop_table .product-thumbnail img {
	width:60px;
	height:60px;
	border:2px solid #ecf0f1;
	border-radius:3px;
}
.shop_table .product-name {
	width: 50%;
}
.product-info {
	line-height:60px;
	margin:0;
	display:inline-block;
	margin-left: 15px;
}
.product-info dl {
	display:none;
}
.shop_table .product-thumbnail .product-info {
	margin-top: 20px;
}
.shop_table .product-thumbnail .product-info .variation dt {
	float: left;
	margin-right: 5px;
}
.shop_table .product-thumbnail .product-info .variation dd {
	margin-left: 0;
}
.shop_table .product-remove {
	width: 5%;
	font-size: 24px;
}
.shop_table .product-remove a {
	background:#f54e33;
	padding:0 7px;
	padding-bottom:2px;
	border-radius:30px;
	color:#FFF;
	font-size:20px;
}
.shop_table .product-price {
	text-align: center;
}
.shop_table .product-quantity {
	text-align: center;
}
/*.shop_table .product-quantity .quantity {
	margin: 0 auto;
	display:inline-block;
}*/
.quantity {
	width:auto;
	margin:0 auto !important;
	max-width:130px !important;
}
.quantity .input-group-btn {
	width:auto;
}
.shop_table .product-subtotal {
	text-align: right;
	padding-right:15px;
}
.shop_table th.product-subtotal {
	padding-right:25px;
}
.shop_table .product-subtotal .amount {
	font-size: 18px;
}
.shop_table .variation dt,
.shop_table .variation dd {
	margin: 0;
	display: inline-block;
}
.shop_table .variation p {
	margin-bottom: 5px;
}
.one_half_container {
	float: left;
}
.cart-collaterals {
	margin-top: 30px;
	overflow: hidden;
}
.cart-buttons-row .update-cart {
	text-align:center;
}
.shop_table.cart .cart-buttons-row .update-cart {
	text-align:right;
}
.cart-buttons-row .button,
.shipping_calculator .button,
.checkout_coupon .button,
#reviews input#submit,
.price_slider_amount .button,
.cart_totals .checkout-button,
.shipping-calculator-form .button,
.delve-button {
	border:1px solid;
	border-color:#FFF;
	background:#a1b1bc;
	color:#FFF;
	padding:0 10px;
	margin:0;
}
.shipping-calculator-form .button {
	border-radius:4px;
	height:35px;s
}
.cart-collaterals .form-row input {
	padding: 9px 15px;
	margin: 0;
}
.cart-collaterals ul.products li {
	margin-bottom: 0;
}
.cart-collaterals .cross-sells {
	margin-bottom: 30px;
}
.shipping-calculator-form-nohide #calc_shipping_state {
	min-width: 100%;
}
.shipping-calculator-form-nohide .button {
	float: right;
}
.coupon {
	overflow: hidden;
}
.coupon .input-text {
	float: left;
	width: 290px;
	padding: 8px 15px;
}
.coupon .delve-button {
	float: right;
	margin-top: 2px;
}
.cart-totals-container .delve-button {
	display: block;
}
.shipping-coupon {
	width: 100%;
	margin-right: 4%;
}
.shipping-coupon input[type="text"] {
	width:55%;
}
.shipping-calculator {
	margin-right: 4%;
	width: 48%;
	float: left;
}
.cart_totals {
	float: left;
	width: 48%;
}
.shipping_calculator {
	margin-bottom: 30px;
}
.delve-shipping-calculator-form,
.shipping-calculator-form {
	display: block;
}
.delve-shipping-calculator-form .delve-shipping-calc-field {
	width:50%;
	float:left;
}
.delve-shipping-calculator-form .delve-shipping-calc-field input {
	width:95%;	
}
.delve-shipping-calculator-form select {
	width:97%;
	height:35px;
}
.delve-form-country {
	position:relative;
}
.delve-form-country .select-arrow {
	height: 33px;
	width:40px;
	line-height: 35px;
	border-left: 1px solid #dadada;
	border-right:none;
	position: absolute;
	top: 1px;
	right: 13px;
	background: #fff;
	pointer-events: none;
	z-index: 10;
	font-family: fontAwesome;
	font-size: 9px;
	text-align: center;
}
span.select-arrow:before {
	font-family: fontAwesome;
	content: "\f107";
	font-size: 16px;
}
.cart-collaterals .shipping_calculator #calc_shipping_state {
	min-width: 150px;
}
.cart-collaterals .shipping_calculator #calc_shipping_postcode {
	height: 36px;
}
.woocommerce p.one_half {
	margin-left: 0;
	margin-right: 4%;
}
.coupon .delve-button {
	margin-top: 0;
}
.checkout .order-total {
	border: none;
	height: auto;
}
.checkout .order-total th,
.checkout .order-total td {
	padding-top: 0;
}
.cart_totals .order-total .amount {
	font-size: 18px;
}
.cart_totals table {
	width: 100%;
	text-align: left;
}
.cart_totals table th {
	width: 50%;
	padding-bottom: 20px;
}
.cart_totals table td {
	width: 50%;
	padding-bottom: 20px;
	text-align: right;
}
.cart_totals table .total th,
.cart_totals table .total td {
	padding-top: 20px;
}
.cart_totals .cart-subtotal td,
.cart_totals .total td {
	text-align: right;
}
.cart_totals .cart-subtotal td strong {
	font-weight: normal;
}
.cart_totals .total {
	border-top: 1px solid;
	height: 50px;
}
#payment {
	margin-top:35px;
	margin-bottom:15px;
}
#payment .payment_methods {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height:28px;
}
#payment .payment_methods li {
	border-bottom: 1px solid #ecf0f1;
	line-height:40px;
}
#payment .payment_methods input {
	height:auto;
}
#payment #place_order {
	margin-top:20px;
}
#payment .payment_method_paypal label {
	width:93%;
}
#payment .payment_method_paypal img {
	float:right;
	padding-top:8px;
}
#payment .payment_methods li div {
	padding:10px;
	border:1px solid #ebebeb;
	margin-bottom:20px;
	border-radius:4px;
}
#payment .payment_methods li p {
	margin:0;
}
.payment_method_paypal a.about_paypal {
	float:right;
	margin-top:1px;
	margin-right:8px;
}
.update-totals {
	height:35px;
	color:#fff;
	border:1px solid;
	border-color:#a1b1bc;
	border-radius:4px;
}
.cart_totals .delve-button {
	float: right;
	color:#FFF;
	display: block;
}
.cart_totals .checkout-button {
	clear: both;
	margin-top: 10px;
	padding:8px 10px;
	border-radius:4px;
}
#wrapper .custom_select_box .dd-container .dd-select,
#wrapper .custom_select_box .dd-options li a {
	background: #fbfaf9;
	background-image: none;
}
#wrapper .custom_select_box .dd-container .dd-selected {
	padding: 0;
	text-indent: 10px;
	padding-right: 15px;
}
#wrapper .custom_select_box .dd-options li a:hover {
	background-color: transparent;
}
#wrapper .custom_select_box .dd-pointer {
	background-image: none;
	width: 10px;
	border-left: 1px solid;
	padding-left: 10px;
}
#wrapper .custom_select_box .dd-pointer-down:after {
	font-family: fontAwesome;
	content: '\e61f';
	font-weight: bold;
}
#wrapper .custom_select_box .dd-options {
	position: absolute;
	top: auto;
	max-height: 143px;
}
#wrapper .custom_select_box .dd-pointer-down {
	border-color: #dadada;
}
.checkout_coupon p.form-row-first,
.checkout_coupon p.form-row-last {
	display:inline-block;
	margin:0;
}
.checkout_coupon p input,
.shipping-coupon input {
	margin:0 !important;
}
.checkout_coupon p.form-row-first {
	width:60%;
	max-width:300px;
}
.checkout_coupon p .input-text {
	width:95%;
	max-width:300px;
}
.country_to_state.country_select,
.state_select {
	width:85% !important;
	height:35px;
	line-height:35px;
	border-color: #a1b1bc;
	border-radius: 4px;
}
.country_to_state.country_select a,
.select2-container .select2-choice {
	height:35px;
	line-height:35px;
	border-color: #d6dde2;
	color: #a1b1bc;
}
.select2-drop {
	border-color: #a1b1bc;
	color:#a1b1bc;
}
#billing_country_field > label,
#shipping_country_field > label {
	padding-right: 5px;
	display:block;
}
#billing_country_field > label:after,
#shipping_country_field > label:after {
	content: ":";
}
p#billing_first_name_field,
p#billing_last_name_field,
p#shipping_first_name_field,
p#shipping_last_name_field {
	width: 43.5%;
	float: left;
}
p#billing_first_name_field .input-text,
p#billing_last_name_field .input-text,
p#shipping_first_name_field .input-text,
p#shipping_last_name_field .input-text {
	width:95% !important;
}
.admin-bar p.demo_store {
	top: 32px;
}
p.demo_store {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	font-size: 16px;
	padding: 10px;
	text-align: center;
	background: #A0CE4E;
	color: #ffffff;
	z-index: 99997;
}
.product .entry-summary .price {
	margin-top: 10px;
}
.product .entry-summary .woocommerce-product-rating {
	display: inline-block;
	margin-left: 20px;
	margin-top: 11px;
}
.product .entry-summary .woocommerce-product-rating .star-rating {
	display: inline-block;
}
.product .entry-summary .woocommerce-product-rating .woocommerce-review-link {
	position: relative;
	top: -2px;
}
.cart-loading {
	background-color: rgba(0, 0, 0, 0.7);
	height: 70px;
	width: 70px;
	line-height: 70px;
	font-size: 28px;
	color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -35px;
	margin-left: -35px;
	z-index: 100;
	display: none;
	text-align: center;
}
.cart-loading .icon-check-square-o {
	display: block;
	line-height: 70px;
}
/***** Thank you page ******/
.woocommerce .delve-thank-you h2 {
	margin:0;
	margin-bottom:15px;
	padding-bottom:10px;
	border-bottom:1px solid #ddd;
}
.delve-thank-you .order_details {
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
}
.delve-thank-you .order_details li {
	font-size:14px;
	line-height:22px;
	margin:0 0 10px;
	padding: 0 0 0 28px;
}
.delve-thank-you .order_details li:before {
	border-radius: 50%;
	font-size: 19px;
	content: "\f138";
	float: left;
	font-family: fontAwesome;
	margin-left: -25px;
}
.delve-thank-you p {
	margin-bottom:20px;
}
.woocommerce .addresses {
	margin-top: 40px;
	overflow: hidden;
}
.delve-customer-details {
	margin-top:35px;
}
.delve-customer-details h2 {
	margin:0 0 15px;
	padding-bottom:10px;
	border-bottom:1px solid #ddd;
	font-size:22px;
}
.delve-customer-details .customer_details dt {
	display:inline-block;
	font-weight:bold;
}
.delve-customer-details .customer_details dd {
	display:inline-block;
}
.navbar-header .cart-button {
	display:none;
	font-size:1.3em;
	line-height:80px;
	float:right;
	padding:0 15px;
}
.navbar-header .cart-button i {
	color:#2c3e50;
}
#sticky-header .navbar-header .cart-button {
	line-height:64px;
}
.delve-order-details h2 {
	margin-top:50px;
	text-align:center;
}
.shop_table tfoot tr th {
	width:30%;	
}
.order_details.shop_table tfoot tr th {
	width:80%;
}
.delve-order-details .order_details.shop_table tfoot tr th {
	width:30%;
}
@media only screen and (max-width : 1024px) {
.products li {
	margin-right:1%;
}
.product-details {
	padding: 5px 10px 0px 10px;
}
.product .product-buttons {
	padding:10px;
}
.product-buttons a {
	padding: 8px 8px 8px 22px;
}
}
@media only screen and (max-width : 800px) {
	
.woocommerce-tabs > .tabs {
	width:100%;
	float:none;
}
.woocommerce-tabs .panel {
	float:none;
	width:100%;
	margin-left:0;
}
.products li {
	width: 100%;
	float:none !important;
	margin-left: auto !important;
	margin-right: auto !important;
	clear:none;
	max-width:250px;
}
.catalog-ordering {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	text-align: center;
	margin-bottom: 25px;
}
.catalog-ordering li {
	text-align:left;
}
.orderby-order-container {
	float: none;
	display: inline-block;
}
.catalog-ordering > ul,
.order-dropdown,
.catalog-ordering .order {
	float: none;
	display: inline-block;
	margin: 0;
	vertical-align: top;
}
}
@media only screen and (max-width : 768px) {
	
.product .images {
	width:100%;
	float:none;
}
.menu-menu li.delve-cart-btn {
	display:none !important;
}
.navbar-header .cart-button {
	display:inline-block;
}
}
@media only screen and (max-width : 530px) {
.shipping-calculator,
.cart_totals {
	float:none;
	width:100%;
}
.product .summary.entry-summary {
	float:none;
	width:100%;
}
.product-quantity,
.filler-td,
tr.skip_fields td:first-child {
	display:none;
}
.shop_table tfoot tr th {
	text-align:left;
}
#payment .payment_methods li,
.woocommerce-info {
	line-height:22px;
}
.orderby-order-container {
	margin-bottom:15px;
}
.shipping-coupon input[type],
.cart-buttons-row .button {
	width:100%;
	margin-bottom:5px !important;
}
.order-dropdown {
	margin-right:10px;
}
.order-dropdown,
.order-dropdown ul li a {
	width:183px;
}
.catalog-ordering .sort-count,
.sort-count ul li a {
	width:228px;
}
.delve-form-country .select-arrow {
	right:12px;
}
.product-info {
	display:inline;
	line-height:22px;
	margin:0;
}
.shop_table .product-thumbnail {
	margin:0;
	float:none;
}
.shop_table .product-name {
	width:auto;
}
.shop_table .product-subtotal,
.shop_table td {
	padding-right:0;
}
.woocommerce .login .form-row input[type="text"],
.woocommerce .login .form-row input[type="password"] {
	width:100%;
}
.woocommerce .login .form-row label.inline, .woocommerce .login p {
	display:block;
}
}
@media only screen and (max-width : 320px) {
#woocommerce {
	max-width:298px;
}
.singleProductCarousel img {
	width:60px;
	height:auto;
}
.variations .value {
	min-width:100px;
}
td.actions input,
td.update-cart input {
	max-width:125px;
}
#ship-to-different-address label {
	display:inline;
}
.delve-shipping-calculator-form .delve-shipping-calc-field {
	width:100%;
	display:block;
}
.delve-shipping-calculator-form .delve-shipping-calc-field input {
	margin:0;
}
.checkout_coupon p.form-row-first {
	width:100%;
	margin-bottom:15px;
}
.cart-buttons-row .button {
	font-size:11px;
}
button#hover-icon-add-to-cart {
	margin-top:15px;	
}
}